.library{
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 20rem;
    height: 100%;
    box-shadow: 1.7px 1.7px 40px rgba(128, 128, 128, 0.621);
    overflow: scroll;
    padding-top: 2rem;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;

    @media screen and (max-width: 768px){
        width: 100%;
    }

    h2{
        padding-left: 2rem;
    }

    .library-songs{
        padding-top: 2rem;
    }

    .library-song{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1rem 2rem;
        cursor: pointer;
        transition: background 0.2s ease;

        &:hover{
            background-color: rgb(188, 200, 255);
        }

        img{
            width: 30%;
        }

        .song-description{
            padding-left: 1rem;

            h3{
                font-size: 1rem;
            }

            h4{
                font-size: 0.7rem;
            }
        }
    }
    .selected{
        background-color: rgb(247, 202, 247);
    }
}

.active-library{
    transform: translateX(0%);
    opacity: 1 ;
}

*{
    scrollbar-width: thin;
    scrollbar-color: rgba(155,155,155,0.5) transparent;
}

*::-webkit-scrollbar{
    width: 5px;
}
*::-webkit-scrollbar-track{
    background: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: rgba(155,155,155,0.5);
    border-radius: 20px;
    border: transparent;
}


